@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Hack";
  src: url("/fonts/hack_regular.ttf");
}

@font-face {
  font-family: "Segoe UI";
  src: url("/fonts/segoe_ui.ttf");
}

/* Set initial container to match height of body */
#__next {
  height: 100%;
}

html {
  height: 100%;
  height: -webkit-fill-available;
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: /* -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,  */ Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
