// Background Colors:
$bodyBgColor: white;
$nav_bg_color: #792424;
$nav_links_color: white;
$projects_section_color: grey;

// Terminal Colors:
$termMainColor: #0c0c0c;
$termLocationTextColor: #13a10e;
$termTildeColor: #0037da;
$termFontColor: #cccccc;
$termCursorColor: #ffffff;
$termTitleBarColor: #323232;

:export {
  terminalBgColor: #0c0c0c;
}
