.preview_img {
  /*   transform: perspective(500px) rotateY(35deg); */
  background-color: black;
  transform-origin: top;
  transition: all 1s;
  &:hover {
    /*     opacity: 0.25; */
    /*     transform: rotateY(0deg); */
  }
}

.test {
  transform: perspective(400px) rotateX(-90deg);
  /*   perspective: 200px; */
}

.projectTile_titlebar {
  background: hsla(189, 92%, 69%, 1);

  background: linear-gradient(
    225deg,
    hsla(189, 92%, 69%, 1) 0%,
    hsla(205, 94%, 52%, 1) 41%
  );

  background: -moz-linear-gradient(
    225deg,
    hsla(189, 92%, 69%, 1) 0%,
    hsla(205, 94%, 52%, 1) 41%
  );

  background: -webkit-linear-gradient(
    225deg,
    hsla(189, 92%, 69%, 1) 0%,
    hsla(205, 94%, 52%, 1) 41%
  );
}
