#welcome {
  background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0.45) 63%,
      rgba(0, 0, 0, 0.1) 80%
    ),
    url("/images/code_bg.jpg") bottom/cover no-repeat fixed;
}

.hello_container {
  font-family: "Oxygen", sans-serif;
  text-shadow: 2px 2px #131112;
}

/* .anim_reveal {
  animation: reveal 1s forwards;
  height: 10px;
}

@keyframes reveal {
  0% {
    height: 10px;
  }
  50% {
    opacity: 1;
  }
  100% {
    height: 100%;
  }
} */

/* .slide_bottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
} */

/**
 * ----------------------------------------
 * animation slide-bottom
 * ----------------------------------------
 */
/* @-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
} */

// https://codepen.io/anon/embed/sJpDj?height=500&theme-id=1&slug-hash=sJpDj&default-tab=result#result-box
.content {
  /*   position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  /* height: 160px; */
  overflow: hidden;

  font-family: "Lato", sans-serif;
  /*   font-size: 35px;
  line-height: 40px; */
  color: #ecf0f1;
  display: inline-flex;
  justify-content: space-between;

  &:before {
    content: "[";
  }

  &:after {
    content: "]";
  }

  &:after,
  &:before {
    color: #16a085;
  }

  &__container {
    display: inline;
    width: 100%;
    /*     font-weight: 600; */
    overflow: hidden;
    display: flex;
    justify-content: space-between;

    &__text {
      animation: textDropDown 1s;
      /*       -webkit-animation-name: change;
      -webkit-animation-duration: 10s;
      -webkit-animation-iteration-count: infinite;
      animation-name: change;
      animation-duration: 10s;
      animation-iteration-count: infinite; */
      /*       -webkit-animation-name: opacity;
      -webkit-animation-duration: 2s;
      -webkit-animation-iteration-count: infinite;
      animation-name: opacity;
      animation-duration: 2s;
      animation-iteration-count: infinite; */
    }

    &__list {
      margin-top: 0;
      padding-left: 110px;
      text-align: left;
      list-style: none;

      &__item {
        line-height: 40px;
        margin: 0;
      }
    }
  }
}

@keyframes textDropDown {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0);
  }
}

.handwave_anim {
  animation: hand-wave 2.5s 1s;
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes hand-wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}
