/* .intro_screen_container {
  height: 100vh;
  width: 100vw;
  background-color: black;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}

.intro_screen_content {
  width: 800px;
  margin: 0 auto;
}
 */
/* @import "../../scss/index.scss"; */
.bg_container {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: -100%;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.intro_container {
  position: relative;
  z-index: 0;
  /* max-width: 1050px; */
  /*  margin: 0 auto; */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.bg_animation {
  animation: bg-slide-up 2s forwards;
}

@keyframes bg-slide-up {
  from {
    top: 100%;
  }
  to {
    top: 0;
  }
}

.overflow_hide {
  animation: hide-overflow 2s forwards;
}

@keyframes hide-overflow {
  0% {
    overflow: hidden;
  }
  99.9% {
    overflow: hidden;
  }
  100% {
    overflow: auto;
  }
}

.tv_effect {
  position: absolute;
  z-index: 100;
  top: 50%;
  transform: translateY(-50%);
  animation: 1s tv-effect both;
}

@keyframes tv-effect {
  0% {
    width: 100%;
    height: 100%;
  }
  25% {
    background-color: #121212;
  }
  50% {
    width: 100%;
    height: 1%;
  }
  74% {
  }
  75% {
    background-color: white;
  }
  100% {
    width: 0;
    height: 0;
    display: none;
  }
}

.handwave_anim {
  animation: hand-wave 2.5s 1s;
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes hand-wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

.hello_container {
  font-family: "Oxygen", sans-serif;
  text-shadow: 2px 2px #131112;
  /* transform: translateY(10%); */
  /*   width: fit-content; */
  /*   height: 100%; */
  /*   display: flex; */
  /*   flex-direction: column;
  justify-content: center;
 */
  /*   text-align: left;
  margin: 0 auto; */

  /*   h1 { */
  /* @include rfs(7rem); */
  /*     display: flex;
    align-items: center;
    padding: 0;
  } */

  /*   p {
    padding-left: 0; */
  /* @include rfs(1.5rem); */
  /*   } */
}
